<ion-header>
  <ion-toolbar>
    <ion-title>Add Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <form (ngSubmit)="confirm()" [formGroup]="credentials">
      <div class="form-group">
        <ion-label position="fixed">Title</ion-label>
        <ion-input placeholder="Enter text" formControlName="title"></ion-input>
        <ion-label position="fixed">Year</ion-label>
        <ion-input placeholder="Enter year" formControlName="year"></ion-input>
      </div>
      <ion-button
        id="open-modal"
        type="submit"
        expand="block"
        [disabled]="!credentials.valid"
        >Search</ion-button
      >
      <ion-button color="danger" expand="block">Cancel</ion-button>
    </form>
  </ion-item>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()"
              >Close</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let item of search">
            <ion-thumbnail slot="start">
              <ion-img src="{{item.Poster}}"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{item.Title}}</h2>
              <p>{{item.Type}}</p>
              <p>{{item.Year}}</p>
              <p>{{item.imdbID}}</p>
            </ion-label>
            <ion-select
              [interfaceOptions]="customAlertOptions"
              placeholder="Select a list"
              okText="Add movie to list"
              cancelText="Cancel"
              (ionChange)="handleChange($event)"
            >
              <ion-select-option
                *ngFor="let list of lists"
                [value]="{'list_id':list.id, 'imdbid':item.imdbID}"
                >{{ list.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
