.section-title {
    font-weight: 600;
    font-size: large;
}
ion-slides {
    margin-top: 4px;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    ion-card-title{
        font-size:smaller;
    };
  }