<ion-header>
  <ion-toolbar>
    <ion-title>Movie List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reset Your Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Forgot your password? Please enter your email address. You will reveive
        a link to create a new password via email.
      </ion-card-content>
      <form (ngSubmit)="reset_password()" [formGroup]="credentials">
        <div class="input-group">
          <ion-item>
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
            ></ion-input>
          </ion-item>
        </div>
        <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
          >Reset Password</ion-button
        >
      </form>
    </ion-card>
  </div>
</ion-content>
