<ion-tabs (ionTabsDidChange)="setSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-list">
      <ion-icon
        [name]="selected == 'tab-list' ? 'list' : 'list-outline'"
      ></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-add-movie">
      <ion-icon
        [name]="selected == 'tab-add-movie' ? 'add' : 'add-outline'"
      ></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-search">
      <ion-icon
        [name]="selected == 'tab-search' ? 'search' : 'search-outline'"
      ></ion-icon>
      <ion-label>Tab Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <ion-icon
        [name]="selected == 'tab-profile' ? 'person' : 'person-outline'"
      ></ion-icon>
      <ion-label>Tab Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
