<ion-header>
  <ion-toolbar>
    <ion-title>{{ list?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      button
      *ngFor="let item of listitems"
      [routerLink]="['./items',item.movie.id]"
    >
      <img slot="start" src="{{item.movie.poster}}" />
      <ion-label class="ion-text-wrap">
        <h2>{{ item.movie.title }}</h2>
        <h3>{{ item.movie.year }}</h3>
        <p>{{ item.movie.director }}</p>
        <ion-badge>{{ item.movie.imdbrating }}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button size="small" href="../tabs/tab-add-movie">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
