<ion-header>
  <ion-toolbar>
    <ion-title>{{ list?.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of listitems">
      <ion-thumbnail slot="start">
        <img src="{{item.movie.poster}}">
      </ion-thumbnail>
      <ion-label>
        {{ item.movie.title }}
        <p>{{item.movie.year}}</p>
        <p>{{item.movie.director}}</p>
      </ion-label>
      <ion-badge slot="end">{{item.movie.imdbrating}}</ion-badge>

    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..." ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
